{{ $dataURL := printf "https://gitlab.com/gitlab-com/www-gitlab-com/-/raw/master/data/performance_indicators/%s.yml" (.Get 0) }}
{{ with resources.GetRemote $dataURL }}
  {{ with .Err}}
    <h2>Unable to fetch performance indicator Data</h2>
  {{ else }}
      {{ $data := . | transform.Unmarshal }}
      <h2>Executive Summary</h2>
      <table>
        <tr>
            <th>KPI</th>
            <th>Health</th>
            <th>Status</th>
        </tr>
      {{ range $data }}
        {{ if .is_key }}
          <tr>
              <td>{{ $link := printf "%s#%s" $.Page.RelPermalink (anchorize .name) }}
                  <a href="{{ $link }}">{{ .name }}</a></td>
              <td>{{if .health.level }}{{- partial "performance-indicators/health-level" .health.level }}{{ else }}
                  <span class="badge bg-dark">Unknown</span>{{end}}
              </td>
              <td>{{with .health.reasons}}{{- partial "performance-indicators/health-reasons" . }}{{end}}</td>
          </tr>
        {{ end }}
      {{end}}
      </table>
      <h2>Key Performance Indicators</h2>
      {{ range $data }}
      {{ if .is_key }}
        <h3 id="{{ .name | anchorize }}">{{ .name }}</h3>
        <p>{{ .definition | safeHTML }}</p>
        <p><strong>Target:</strong> {{ .target | safeHTML }}</p>
        {{ if eq .public false }}
        <p><Strong>This KPI cannot be public</Strong></p>
        {{ end }}
        <p><strong>Health:</strong>{{if .health.level }}{{- partial "performance-indicators/health-level" .health.level }}{{ else }}
          <span class="badge bg-dark">Unknown</span>{{end}}
        {{with .health.reasons}}{{- partial "performance-indicators/health-reasons" . }}{{end}}
        {{ if not (eq .public false) }}
        {{ $.Scratch.Set "open" .is_key }}
        {{ with .sisense_data }}
        {{ $open := $.Scratch.Get "open" }}
          {{- partial "performance-indicators/chart" (dict "data" . "open" ($.Scratch.Get "open"))}}
        {{ end }}
        {{ with .sisense_data_secondary }}
          {{- partial "performance-indicators/chart" (dict "data" . "open" ($.Scratch.Get "open"))}}
        {{ end }}
        {{ with .sisense_data_tertiary }}
            {{- partial "performance-indicators/chart" (dict "data" . "open" ($.Scratch.Get "open"))}}
        {{ end }}
        {{ end }}
        {{ with .urls }}
        <p><strong>URL(s):</strong></p>
        <ul>
            {{range .}}<li><a href="{{.}}">{{.}}</a></li>{{end}}
        </ul>
        {{ end }}
        {{ end }}
        <hr>
      {{ end }}
  {{ end }}
{{ end }}

<h2>Legends</h2>
{{- partial "performance-indicators/health-def" }}

<h2>How pages like this work</h2>
{{- partial "performance-indicators/data-def" }}
